---
layout: default
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<div class="post">

  <!-- mathjax -->
  {% if page.mathjax %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {
        equationNumbers: {
          autoNumber: "AMS"
        }
      },
      SVG: {
        scale: 90
      },
      tex2jax: {
        inlineMath: [ ['$','$'] ],
        displayMath: [ ['$$','$$'] ],
        processEscapes: true,
      }
    });
  </script>
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <!-- gitment comments -->
  <div>
    {% if page.comments %}
    <div id="gitalk_container"></div>
    <script>
     const gitalk = new Gitalk({
       clientID: 'b47f56c253316613f70e',
       clientSecret: '94ddc703708b8b274c3fbb2156385d149bf3ecb2',
       owner: 'Dynmi',
       repo: 'https://github.com/Dynmi/Dynmi.github.io',
       admin: ['Dynmi'],
       id: location.pathname,      // Ensure uniqueness and length less than 50
       distractionFreeMode: false  // Facebook-like distraction free mode
     })
     gitalk.render('gitalk_container')
    </script>
    {% endif %}
  </div>

</div>